.select {

  .input {
    display: flex;
    width: 100%;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    .select-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      position:absolute;
      top: 0;
      left: 0;
      z-index: 100;
      max-width: 388px;
      .title {
        padding: .1rem .25rem;
        margin-left: .5rem;
        height: 80%;
        color: $menu-item-active-color;
        border: lighten($menu-item-active-color, 40%) solid $menu-border-width;
        background-color: lighten($menu-item-active-color, 50%);
        border-radius: $border-radius;
      }

      .check {
        margin-left: .5rem;
      }
    }

    .icon-wrapper {
      position: absolute;
      height: 100%;
      justify-content: center;
      color: $input-color;
      right: .25rem;
      transition: transform .25s ease-in-out;
      top: 0;
      display: flex;
      align-items: center;

      svg {
        color: $input-placeholder-color;
      }
    }

    .icon-active {
      transform: rotate(180deg);
    }

    .input-inner {
      width: 100%;
      padding: $input-padding-y $input-padding-x;
      font-family: $input-font-family;
      font-size: $input-font-size;
      font-weight: $input-font-weight;
      line-height: $input-line-height;
      color: $input-color;
      background-color: $input-bg;
      background-clip: padding-box;
      border: $input-border-width solid $input-border-color;

      // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
      border-radius: $input-border-radius;

      box-shadow: $input-box-shadow;
      transition: $input-transition;

      &:focus {
        color: $input-focus-color;
        cursor: pointer;
        background-color: $input-focus-bg;
        border-color: $input-focus-border-color;
        outline: 0;
        box-shadow: $input-focus-box-shadow;
        // Avoid using mixin so we can pass custom focus shadow properly
      }

      &::placeholder {
        color: $input-placeholder-color;
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
      }

      &[readonly] {
        background-color: $white;
        border-color: $input-disabled-border-color;
        // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
        opacity: 1;
      }
    }
  }

  .input-disabled {
    pointer-events: none;
    cursor: default;
  }

  .option {
    border: $border-color solid $border-width;
    border-radius: $border-radius;
    margin-top: $btn-padding-y-sm;
    padding-left: 0;

    .option-item {
      padding: $menu-item-padding-y $menu-item-padding-x;
      cursor: pointer;
      list-style: none;
      transition: $menu-transition;
      color: $body-color;

      .label {
        font-size: $font-size-base * 0.5;
      }

      &:hover {
        background-color: lighten($menu-item-active-color, 40%) !important;
      }
    }

    .check {
      float: right;
      margin: .375rem 0;
      color: $menu-item-active-color;
    }

    .option-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }

    .option-active {
      font-weight: $font-weight-bolder;
      color: $menu-item-active-color;
    }


  }

  .multiple-option-show {
    display: none;
  }
}